
/* Import Roboto font */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
} */
body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #566b78;
}

#text{
    background-color: blue;
}

h1, h2, strong {
    color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

a {
    color: #e81c4f;
}

code, pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    /* background: #f5f7f9; */

    padding: 1em;
    border-left: 2px solid #69c;
    color: #333; /* Default text color */
    font-family: monospace;
    white-space: pre-wrap; /* Ensures proper line breaks */
    word-wrap: break-word; /* Prevents horizontal scrolling */
    text-align: left ;

    margin: 0;
}

main {
    max-width: 50em;
    margin: 0 auto;
}

header {
    background-color: #263d36;
    background-image: url('images/background.webp');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}
.background-tint {
    background-color: rgba(59, 57, 54, 0.5);
    background-blend-mode: multiply;
}

.keyword {
    color: blue;
    font-weight: bold;
}

/* Class name styling */
.class-name {
    color: #da3f3f; /* Light purple */
    font-weight: bold;
}


header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
}

header p a {
    border: 1px solid #e81c4f;
    border-radius: 290486px;
    color: white;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
}

header p a:hover {
    background: #e81c4f;
    color: white;
}

header img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
}
